[mysqld]
server-id=1
log-bin=mysql-bin
binlog-format=ROW
# Optional: replicate only certain DBs. E.g.:
# binlog-do-db=whir_portal_db
# binlog-do-db=whc_website_db

# Additional tuning
innodb_flush_log_at_trx_commit=1
sync_binlog=1
